<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.datalife.datalife">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <meta-data
        android:name="appkey"
        android:value="902f8741c0814966b86d27326a14c265" />
    <meta-data
        android:name="appsecret"
        android:value="cb6485aab56449afa5c65452a322cef2" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:name=".app.ProApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.SimplebackActivity"/>
        <activity android:name=".activity.HealthMonitorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity android:name=".activity.ECGLargeChartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity android:name=".activity.ShowDownloadDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RecordActivity"/>
        <service android:name=".service.HcService"/>
    </application>

</manifest>